$color-1: #898989;
$color-2:#FFFFFF;
$color-3: #000000;
$color-4: #F2656A;
$color-5: rgba(255, 255, 255, .3);
$color-6: #FF000AD6;
$color-7: #DBDBDB;
$color-8: rgb(255, 255, 255);
$color-9: #222222;
$color-10: #F69397;
