.wrapper {
    width: 100%;

    .sidebar {
        width: 343px;
        margin-left: 32px;
    }
}

.header-bar {

    .container {
        width: 1024px;
        padding: 0 304px;
    }

    .container::after {
        left: 31px;
    }
}
